
.top{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}


table{
    width: 100%;
}